body {
  background-image: url("bgimg_1.png");
  background-repeat: no-repeat;
}
.firstpart {
  background-color: rgb(255, 180, 81, 0.5);
  color:orangered;
}
.menu {
  background-color: rgb(255, 150, 81, 0.75);
  color:orangered;
}
.blogmenu {
  background-color: rgb(255, 150, 81, 0.5);
  text-align: center;
  color: orangered;
}
h1 {
  border-bottom: 3px solid orangered;
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 45;
  color: orangered;
}
h2 {
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 32;
  color: orangered;
}
p {
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 15;
}
a {
  text-decoration: none;
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 15;
  color: orangered;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(255, 180, 81, 0.5);
  font-family: "Courier New", "Lucida Console", monospace;
  border: None;
  color: orangered;
  padding: 16px;
  border-radius: 12px;
}
button:hover {
  background-color: rgb(255, 180, 81, 0.7);
  color: orangered;
  border: None;
  padding: 16px;
  border-radius: 12px;
  font-family: "Courier New", "Lucida Console", monospace;
}