body {
  background-image: url("bgimg_1.png");
}
.firstpart {
  background-color: rgb(255, 180, 81, 0.5);
}
.menu {
  background-color: rgb(255, 150, 81, 0.75);
}
.blogmenu {
  background-color: rgb(255, 150, 81, 0.5);
  text-align: center;
}
h1 {
  border-bottom: 3px solid orangered;
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 45;
  color: rgb(175,70,0,1.0);
}
h2 {
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 32;
  color: rgb(175,70,0,1.0);
}
p {
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 15;
  color: rgb(175,70,0,1.0);
}
a {
  font-family: "Courier New", "Lucida Console", monospace;
  text-align: center;
  font-size: 15;
  color: rgb(175,70,0,1.0);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  background-color: rgb(255, 180, 81, 0.5);
  font-family: "Courier New", "Lucida Console", monospace;
  border: None;
  color: rgb(175,70,0,1.0);
  padding: 16px;
  border-radius: 12px;
}
button:hover {
  background-color: rgb(255, 180, 81, 0.7);
  color: rgb(175,70,0,1.0);
  border: None;
  padding: 16px;
  border-radius: 12px;
  font-family: "Courier New", "Lucida Console", monospace;
}